main{
    background-image: url(./img/nature.jfif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80vh;
    margin-top: 5%;
}
.card{
    
    transition: transform .5s ease;
}
.card:hover {
    transform: scale(1.5);
}