.part1{
    background-image: url(./ressource/img/nature.jfif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    
}
.card{
    
    transition: transform .5s ease;
    border-radius: 5%;
    box-shadow: 2px 2px 2px;
}
.card:hover {
    transform: scale(1.5);
}

.description {
    
    margin:0 25% 0 25%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
    opacity: 0.9;

}
.navbar-brand{
    transition: transform .7s ease-in-out;
}
.navbar-brand:hover{
    transform: rotate(360deg);
}
.logo-social{
    transition: transform .3s ease-in-out;
}
.logo-social:hover{
    transform: scale(1.5);
}
.close{
    transition: transform .3s ease-in-out;
}
.close:hover{
    transform: scale(2);
}
.sr-only{
    display: none;
}

@media (max-width: 992px) {
    .sr-only {
        display: block;
    }
}
.card{
    transition: transform .4s ease-in-out;
}
.card:hover {
    transform:scale(1.2);
}