.card{
    
    transition: transform .5s ease;
    border-radius: 5%;
    box-shadow: 2px 2px 2px;
}
.card:hover {
    transform: scale(1.5);
}

.description {
    margin:0 25% 0 10%;
    color:#CC8A8A;
    font-size: 1.5rem;
}
.navbar-brand{
    transition: transform .7s ease-in-out;
}
.navbar-brand:hover{
    transform: rotate(360deg);
}
.logo-social{
    transition: transform .3s ease-in-out;
}
.logo-social:hover{
    transform: scale(1.5);
}
.close{
    transition: transform .3s ease-in-out;
}
.close:hover{
    transform: scale(2);
}
.sr-only{
    display: none;
}

@media (max-width: 992px) {
    .sr-only {
        display: block;
    }
}
.card{
    transition: transform .4s ease-in-out;
}
.card:hover {
    transform:scale(1.2);
}
.part1{
    margin: 2% 0 2% 0;
    height: 60vh;
     
  
}
.intro{
    margin-left:25%;
    
}
.techno{
    background-color: black;
    overflow: hidden;
    height: 60vh;
    
}
.competences{
    margin: 1% 40% 1% 40%;
    background-color:white ;
    color:#CC8A8A;
}
.project{
    margin: 1% 40% 0 40%;
    background-color:black ;
    color:#CC8A8A;
}
